# SNMP config

set system snmp
set system snmp access-group Test 
set system snmp access-group Test admin-state enable
set system snmp access-group Test security-level no-auth-no-priv
set system snmp access-group Test community-entry TEST 
set system snmp access-group Test community-entry TEST community Test
